nav {
  margin-left: 350px;
  margin-right: 350px;
  margin-top: 20px;
  align-content: center;
}
.loginForm {
  margin-top: 100px;
}
.Button {
  margin-top: 10px;
}
.cell {
  height: 20px;
  width: 370px;
  border: none;
  border-bottom: 2px solid gray;
}
label {
  height: 20px;
  width: 370px;
  border: none;
  margin-top: 10px;
  margin-bottom: 0px;
}
