nav {
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 20px;
  align-content: center;
  align-content: center;
}
form {
  margin-left: 450px;
  margin-right: 450px;
  margin-top: 20px;
}

.ib {
  display: inline-block;
  border: 1px solid #cccccc;
  margin: 30px;
  margin-left: 120px;
  margin-right: 120px;
}

img {
  height: 100px;
  width: 100ox;
  cursor: pointer;
}
h6 {
  background: #ccc;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
.loginForm {
  margin-top: 100px;
}
